#title, .subtitle, .post_title {
    color: rgb(8, 8, 8);
}

.foto_luan{
    border: 3px solid black;
    border-radius: 50%;
    margin: auto;
}
#title{
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 0px;
}
.post_title{
    font-size: 16 ;
    font-style: italic;
    margin: 0px;
    margin-bottom: 12px;
}
a{
    text-decoration: line-through;
    color: rgb(24, 24, 26)
}
body{
    background: rgb(194, 188, 188);
    font-family: Verdana;
    max-width: 1000px;
    margin: auto;
}

.posts{
    background-color: honeydew;
    padding: 10px;
    border: 3px solid black;
    border-top: 3px dotted black;
    border-right: 3px dashed black;
    margin: 0px;
    margin-bottom: 12px;
    border-radius: 10px;
}
.post_content{
    margin: 0px;
    margin-bottom: 12px;
    text-transform: capitalize;
    text-align: justify;
}
.image_content{
    margin: 0px;
    margin-bottom: 10px;
    /* width: 100%;
    height: 100%; */
}
.contact_list{
    list-style-type: none;
    padding-left: 12px;
    margin-right: 85%;
    border: 3px solid black;
    border-radius: 10px;
}
.contact_list li a{
    text-decoration: none;
}